{% comment %}
  Custom snippet created by JadePuma
  Last editted - 4/1/24

  Section Usage:
    - index__promotion-grid
{% endcomment %}

{% if image != blank %}
  {%- assign product_image = image -%}
  {%- assign product_image_alt = image.alt | escape -%}
{% else %}
  {%- assign product_image = product.featured_image -%}
  {%- assign product_image_alt = product.featured_image.alt | escape -%}
{% endif %}

{% assign product_card_title = '' %}

{% if title != blank %}
  {% assign product_card_title = title %}
{% elsif product.title != blank %}
  {% assign product_card_title = product.title %}
{% else %}
  {% assign product_card_title = 'homepage.onboarding.product_title' | t %}
{% endif %}
<div
  class="
    column
    {% render 'column-width', value: promos_per_row %}
    thumbnail
    {% if section.settings.show_gutter == true %}
      has-gutter
      has-gutter--mobile
    {% endif %}
    list-collection__thumbnail
    medium-down--one-whole
    has-margin-bottom
  "
>
  <div class="product-wrap enable-zoom-{{ section.settings.enable_zoom }}">
    <div class="promotion-thumbnail-overlay"></div>

    {% if product_image != blank %}
      <div class="thumbnail image__container has-image-crop">
        {% render 'image-element', image: product_image.src, alt: product_image_alt, image_crop: true %}
      </div>
    {% else %}
      {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
      {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <a class="collection-info__caption" href="{{ product.url }}">
      {% if section.settings.promotion_title_below_image == blank %}
        <div class="collection-info__caption-wrapper">
          <span class="title"> {{ product_card_title }}</span>
          {% render 'button', label: button_label, href: product.url, style: section.settings.button_style %}
        </div>
      {% endif %}
    </a>
  </div>

  {% if section.settings.promotion_title_below_image != blank %}
    <a
      class="collection-info__caption-wrapper collection-info__caption--below-image"
      href="{{ product.url }}"
    >
      <span class="title">
        {{ product_card_title }}
      </span>
      {% render 'button', label: button_label, href: product.url, style: section.settings.button_style %}
    </a>
  {% endif %}
</div>
