{% comment %}
  Custom section created by JadePuma
  Instructions - https://jadepuma.com/blogs/shopify-tutorials/promotions-grid-section-for-the-flex-theme
  Last editted - 4/1/24

  SNIPPETS REQUIRED:
  'color_to_rgba'
  'collection_card'
  'product_card'
{% endcomment %}

{% comment %} Content settings {% endcomment %}
{%- assign blocks = section.blocks -%}
{% comment %} End content settings {% endcomment %}

{% comment %} Is the color set to transparent? {% endcomment %}
{%- assign overlay_alpha = section.settings.overlay_background | color_extract: 'alpha' -%}
{%- assign overlay_text_alpha = section.settings.overlay_text | color_extract: 'alpha' -%}
{% comment %} Opacity level {% endcomment %}
{% if overlay_alpha != 0 %}
  {%- assign overlay_background_alpha = section.settings.overlay_background_opacity | divided_by: 100.00 -%}
{% endif %}
{% assign opacity = section.settings.overlay_background_opacity %}
{% assign opacity = opacity | times: 0.01 %}

{% assign promos_per_row = section.settings.promotions_per_row %}
{% assign promos_per_row_mobile = section.settings.promotions_per_row_mobile %}
{% assign text_align = section.settings.promotions_text_align %}

{%- capture section_css -%}



    .promotion-thumbnail-overlay{
    content:"";
    background:{%- render 'color_to_rgba', color:section.settings.overlay_background, opacity:opacity -%};
      top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    }

    .collection-info__caption-wrapper, .collection-info__caption--below-image .title{
      width:100%;
      text-align:{{ text_align }};
    }

    .collection-info__caption--below-image{
      {% if text_align == "left" %}
      {% assign item_align = 'flex-start' %}
      {% elsif text_align == "center" %}
        {% assign item_align = text-align %}

      {% elsif text_align == "right" %}
        {% assign item_align = "flex-end" %}

      {% endif %}
      align-items:{{ item_align }};
    }
  .collection-info__caption span,  .collection-info__caption-wrapper span {
    font-size: {{ section.settings.font_size }}px;
    color: {%- if overlay_text_alpha != 0 -%}{{ section.settings.overlay_text }}{% endif %}
  }
{%- endcapture -%}
{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }
    #shopify-section-{{ section.id }} .container{
      justify-content:center;
    }
    #shopify-section-{{ section.id }}   .collection-info__caption-wrapper{
           {% if section.settings.promotion_title_below_image != true %}

    padding-left:{{ section.settings.padding-from-left }}%;
    padding-right:{{ section.settings.padding-from-right }}%;
    padding-bottom:{{ section.settings.padding-from-bottom }}%;
      {% endif %}
  }

  #shopify-section-{{ section.id }} span.title{
        font-size: {{ section.settings.font_size }};
        }



    @media only screen and (max-width:798px){
      #shopify-section-{{ section.id }}  .has-no-side-gutter .medium-down--one-whole,   #shopify-section-{{ section.id }}  .medium-down--one-whole{
        {% if promos_per_row_mobile == "1" %}
          width: calc(100% - 20px);
        {% elsif promos_per_row_mobile == "2" %}
          width: calc(50% - 20px);
        {% endif %}
      }

      #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
    display: flex;
    justify-content: center;
  }


    }

    @media only screen and (max-width:480px){
      {% if promos_per_row_mobile == "2" %}
        #shopify-section-{{ section.id }}  .collection-info__caption--below-image{
    padding:10px;
  }        {% endif %}
   #shopify-section-{{ section.id }} .collection-info__caption-wrapper{
     {% if section.settings.promotion_title_below_image != true %}
    padding-left:{{ section.settings.padding-from-left-mobile }}%;
    padding-right:{{ section.settings.padding-from-right-mobile }}%;
    padding-bottom:{{ section.settings.padding-from-bottom-mobile }}%;
     {% endif %}}
  }
    }


  .promotion-list .container { justify-content: center; }
  {% render 'css-loop',
          css: section_css,
          id: section.id
  %}
  {% render 'css-loop',
          css: section.settings.custom_css,
          id: section.id
  %}
{% endstyle %}

<section
  class="
    section
    {{ section.settings.css_class }} promotion-list
    is-width-{{ section.settings.width }}
    {% if section.settings.show_gutter == false %}
      has-no-side-gutter
      has-background
    {% else %}
      has-gutter-enabled
    {% endif %}
    {% if blocks.size > promos_per_row %}
      has-multirow-blocks
    {% endif %}
  "
  {% if section.settings.animation != 'none' %}
    data-scroll-class="{{ section.settings.animation }}"
  {% endif %}
>
  <div class="container">
    {% render 'heading',
      title: section.settings.header,
      heading_tag: 'h2',
      context: 'page',
      text_alignment: section.settings.header_alignment
    %}
    {% if blocks.size > 0 %}
      {% for block in blocks %}
        {% if block.type == 'collection_list_block' %}
          {% for collection in block.settings.collection_list %}
            {% render 'collection_card',
              collection: collections[collection.handle],
              image: blank,
              title: collection.title,
              button_label: block.settings.button_label,
              promos_per_row: promos_per_row
            %}
          {% endfor %}

        {% elsif block.type == 'product_list_block' %}
          {% for product in block.settings.product_list %}
            {% render 'product_card',
              product: all_products[product.handle],
              image: blank,
              title: product.title,
              button_label: block.settings.button_label,
              promos_per_row: promos_per_row
            %}
          {% endfor %}
        {% elsif block.type == 'collection' %}
          {% render 'collection_card',
            collection: collections[block.settings.feature_collection],
            image: block.settings.image,
            title: block.settings.title,
            button_label: block.settings.button_label,
            promos_per_row: promos_per_row
          %}
        {% elsif block.type == 'product' %}
          {% comment %}  * * * Product * * * {% endcomment %}

          {% comment %} Content settings {% endcomment %}
          {% render 'product_card',
            product: all_products[block.settings.feature_product],
            image: block.settings.image,
            title: block.settings.title,
            button_label: block.settings.button_label,
            promos_per_row: promos_per_row
          %}

        {% elsif block.type == 'page' %}
          {% comment %}  * * * Page * * * {% endcomment %}

          {% comment %} Content settings {% endcomment %}

          {%- assign page = pages[block.settings.feature_page] -%}
          {%- assign image = block.settings.image -%}
          {%- assign title = block.settings.title -%}
          {%- assign button_label = block.settings.button_label -%}
          {% comment %} End content settings {% endcomment %}

          {% if image != blank %}
            {%- assign page_graphic = image -%}
            {%- assign page_graphic_alt = image.alt | escape -%}
          {% endif %}

          <div
            class="
              column
              {% render 'column-width', value: promos_per_row %}
              thumbnail
              {% if section.settings.show_gutter == true %}
                has-gutter
                has-gutter--mobile
              {% endif %}
              list-collection__thumbnail
              medium-down--one-whole
            "
          >
            <div class="product-wrap enable-zoom-{{ section.settings.enable_zoom }}">
              <div class="promotion-thumbnail-overlay"></div>
              {% if page_graphic != blank %}
                <div class="thumbnail image__container has-image-crop">
                  {% render 'image-element', image: page_graphic.src, alt: page_graphic_alt, image_crop: true %}
                </div>
              {% else %}
                {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              <a class="collection-info__caption" href="{{ page.url }}">
                {% if section.settings.promotion_title_below_image == blank %}
                  <div class="collection-info__caption-wrapper">
                    <span class="title">
                      {% if title != blank %}
                        {{ title }}
                      {% elsif page != blank %}
                        {{ page.title }}
                      {% else %}
                        {{ 'homepage.onboarding.collection_title' | t }}
                      {% endif %}
                    </span>
                    {% render 'button', label: button_label, href: page.url, style: section.settings.button_style %}
                  </div>
                {% endif %}
              </a>
            </div>
            {% if section.settings.promotion_title_below_image != blank %}
              <a class="collection-info__caption-wrapper collection-info__caption--below-image" href="{{ page.url }}">
                <span class="title">
                  {% if title != blank %}
                    {{ title }}
                  {% elsif page != blank %}
                    {{ page.title }}
                  {% else %}
                    {{ 'homepage.onboarding.collection_title' | t }}
                  {% endif %}
                </span>
                {% render 'button', label: button_label, href: page.url, style: section.settings.button_style %}
              </a>
            {% endif %}
          </div>

        {% elsif block.type == 'article' %}
          {% comment %}  * * * Article * * * {% endcomment %}

          {% comment %} Content settings {% endcomment %}
          {%- assign article = articles[block.settings.feature_article] -%}
          {%- assign image = block.settings.image -%}
          {%- assign title = block.settings.title -%}
          {%- assign button_label = block.settings.button_label -%}
          {% comment %} End content settings {% endcomment %}

          {% if image != blank %}
            {%- assign article_image = image -%}
            {%- assign article_image_alt = image.alt | escape -%}
          {% else %}
            {%- assign article_image = article.image -%}
            {%- assign article_image_alt = article.image.alt | escape -%}
          {% endif %}

          <div
            class="
              column
              {% render 'column-width', value: promos_per_row %}
              thumbnail
              {% if section.settings.show_gutter == true %}
                has-gutter
                has-gutter--mobile
              {% endif %}
              list-collection__thumbnail
              medium-down--one-whole
            "
          >
            <div class="product-wrap enable-zoom-{{ section.settings.enable_zoom }}">
              <div class="promotion-thumbnail-overlay"></div>

              {% if article_image != blank %}
                <div class="thumbnail image__container has-image-crop">
                  {% render 'image-element', image: article_image.src, alt: article_image_alt, image_crop: true %}
                </div>
              {% else %}
                {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              <a class="collection-info__caption" href="{{ article.url }}">
                {% if section.settings.promotion_title_below_image == blank %}
                  <div class="collection-info__caption-wrapper">
                    <span class="title">
                      {% if title != blank %}
                        {{ title }}
                      {% elsif article != blank %}
                        {{ article.title }}
                      {% else %}
                        {{ 'homepage.onboarding.collection_title' | t }}
                      {% endif %}
                    </span>
                    {% render 'button', label: button_label, href: article.url, style: section.settings.button_style %}
                  </div>
                {% endif %}
              </a>
            </div>
            {% if section.settings.promotion_title_below_image != blank %}
              <a
                class="collection-info__caption-wrapper collection-info__caption--below-image"
                href="{{ article.url }}"
              >
                <span class="title">
                  {% if title != blank %}
                    {{ title }}
                  {% elsif article != blank %}
                    {{ article.title }}
                  {% else %}
                    {{ 'homepage.onboarding.collection_title' | t }}
                  {% endif %}
                </span>
                {% render 'button', label: button_label, href: article.url, style: section.settings.button_style %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Promotion grid",
  "class": "collection-list",
  "max_blocks": 24,
  "settings": [
    {
      "type": "header",
      "content": "Tutorial",
      "info": "[See Tutorial](https://www.loom.com/share/a49d2b11e3ca4276aaab3c1fef377fc6?sid=530ce80e-d03d-44a1-8709-df346b05523a)"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "Header Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "promotions_per_row",
      "label": "Promotions per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "promotions_per_row_mobile",
      "label": "Promotions per row on mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Magnify image on hover",
      "default": false
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "button--secondary",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary"
        },
        {
          "value": "button--secondary",
          "label": "Secondary"
        },
        {
          "value": "button--link-style",
          "label": "Link"
        }
      ]
    },
    {
      "type": "header",
      "content": "Overlay"
    },
    {
      "type": "color",
      "id": "overlay_background",
      "label": "Background",
      "default": "#939393"
    },
    {
      "type": "range",
      "id": "overlay_background_opacity",
      "label": "Background opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "color",
      "id": "overlay_text",
      "label": "Text",
      "default": "#FFFFFF"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "promotions_text_align",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "promotion_title_below_image",
      "label": "Show title below image",
      "default": false
    },
    {
      "type": "header",
      "content": "Title Spacing Desktop",
      "info": "Only applies if title is inside image."
    },
    {
      "type": "range",
      "id": "padding-from-left",
      "label": "From Left Spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "padding-from-right",
      "label": "From Right Spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "padding-from-bottom",
      "label": "From Bottom Spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Title Spacing Mobile"
    },
    {
      "type": "range",
      "id": "padding-from-left-mobile",
      "label": "From Left Spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "padding-from-right-mobile",
      "label": "From Right Spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "padding-from-bottom-mobile",
      "label": "From Bottom Spacing",
      "min": 0,
      "max": 80,
      "default": 0,
      "unit": "%"
    },

    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "standard",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_gutter",
      "label": "Show gutter",
      "default": true
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom spacing",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Top spacing Mobile",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Bottom spacing Mobile",
      "min": 0,
      "max": 80,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "animation",
      "label": "Animation",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade in"
        },
        {
          "value": "fadeInDown",
          "label": "Fade in down"
        },
        {
          "value": "fadeInLeft",
          "label": "Fade in left"
        },
        {
          "value": "fadeInRight",
          "label": "Fade in right"
        },
        {
          "value": "slideInLeft",
          "label": "Slide in left"
        },
        {
          "value": "slideInRight",
          "label": "Slide in right"
        },
        {
          "value": "zoomIn",
          "label": "Zoom in"
        }
      ]
    },
    {
      "type": "header",
      "content": "Advanced",
      "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
    },
    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "type": "collection_list_block",
      "name": "Collection List",
      "settings": [
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections to Show"
        },

        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    },
    {
      "type": "product_list_block",
      "name": "Product List",
      "settings": [
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products to Show"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection",
          "info": "The collection photo and title will not loaded if the collection is a draft."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "The collection's featured image will be used as a fallback."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "feature_product",
          "label": "Product",
          "info": "The product photo and title will not loaded if the collection is a draft."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "The product's featured image will be used as a fallback."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "feature_page",
          "label": "Page"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    },
    {
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "feature_article",
          "label": "Article"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "The article's featured image will be used as a fallback."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Promotion grid",
      "category": "Image",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "product"
        },
        {
          "type": "page"
        },
        {
          "type": "article"
        }
      ]
    }
  ]
}
{% endschema %}
